@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F2F2F2;
}

header, footer {
  width: 100%;
  color: #004C9E;
  background-color: #DEDEDF;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 675px;
  border: 2px solid #DEDEDF;
  border-radius: 5px;
  margin-top: 6em;
  margin-bottom: 1em;
  padding: 0.5em;
}

section {
  padding: 0 80px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5.5em;
  gap: 80px;
}
