@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    /* font families*/
    --main-font: "Open Sans";
    --second-font: "Raleway";

    /* font colors */
    --font-color-main: #86878b;
    --font-color-social-media: #ccc;
    --font-color-gray-lite: #bdbdbd;
    --font-color-gray-dark: #333;
    --font-color-black-lite: #212121;
    --font-color-black: #000;
    --font-color-white: #fff;
    --font-color-orange: #ff8b38;

    /* background colors */
    --background-color-black: #000;
    --background-color-white: #fff;
    --background-color-gray: #ccc;
    --background-color-orange-lite: #FF9B51;
    --background-color-orange: #ff8b38;
    --background-color-gray-lite: #f5f5f5;;

}

body {
    font-size: 14px;
    color: var(--font-color-main);
    font-weight: 600;
    font-family: var(--main-font);
    background-color: var(--background-color-gray);
}


section {
    padding: 0 140px;
    min-height: 500px;
    background-color: cadetblue;   /* ДА СЕ МАХНЕ!!!*/
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: var(--second-font);
    font-weight: 400;
    line-height: 43px;
}

.container h3 {
    font-size: 20px;
    color: var(--font-color-gray-dark);
    font-weight: 700;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    color: var(--font-color-main);
    font-weight: 400;
    font-family: var(--main-font);
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.divider {
    height: 1px;
    background-color: var(--background-color-white);
}

/* navigation */
header {
    position: fixed;
    width: 100%;
    background: var(--background-color-black);
}

nav {
    max-width: 1126px;
    margin: 0 auto;
    padding: 0 140px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    opacity: 0.690;
    color: var(--font-color-white);
    font-weight: 600;
}


/* header section ----*/
.header {
    min-height: 713px;
    background-color: var(--background-color-black);
    background-image: url("/assets/header-section.png");
    background-position: left 20% top 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .container {
    flex-direction: row;
    justify-content: space-between;
}

.header .container .template {
    display: flex;
    flex-direction: column;
    max-width: 526px;
}

.template h1 {
    color: var(--font-color-white);
    margin: 30px 0;
}

.template .divider {
    max-width: 64px;
    height: 2px;
    margin: 10px 5px;
}

.template p {
    opacity: 0.8;
    font-size: 16px;
    line-height: 23px;
    color: var(--font-color-white);
    font-weight: 300;
    font-family: var(--second-font);
    text-align: left;
    margin: 30px 0;
    z-index: 0;
}

.template button {
    width: 136px;
    height: 44px;
    background-color: transparent;
    border: 2px solid var(--background-color-white);
    border-style: ridge;
    font-size: 15px;
    color: var(--font-color-white);
    font-weight: 600;
    font-family: var(--main-font);
    margin: 14px 4px;
}

.header .container .form-container{
    width: 360px;
    height: 364px;
    background-color: var(--background-color-white);
    display: flex;
    flex-direction: column; 
    border-radius: 3px;
}

.signup {
    display: flex;
    flex-direction: column;  
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.signup .form-h3 {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-gray-lite);
    border-radius: 4px 4px 0 0;
    margin-bottom: 15px;
}

.signup h3 strong {
    color: var(--font-color-orange);
}

.signup .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 38px;
}

.input-container input {
    border: none;
    font-size: 14px;
    color: var(--font-color-gray-lite);
    font-weight: 400;
    padding: 13px;
}

::placeholder {
    color: var(--font-color-gray-lite);
  }

.input-container .divider {
    height: 1px;
    background-color: var(--font-color-gray-lite);
    padding: 0 38px;
}

.signup button {
    height: 54px;
    font-size: 15px;
    color: var(--font-color-white);
    font-family: var(--main-font);
    font-weight: 600;
    border: none;
    background-color: var(--background-color-orange-lite);
    margin-top: 38px;
    border-radius: 0 0 4px 4px;
}







/* brandBar section */
.brandBar {
    min-height: 105px;
    filter: drop-shadow(0px 1px 1.5px rgba(0,0,0,0.38));
    background-color: var(--background-color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brandBar .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

.media-brand h3 {
    margin-bottom: 12px;
}

.media-links{
    font-size: 47px;
    color: var(--font-color-gray-dark);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 30px;
}





/* footer */
footer {
    width: 100%;
    min-height: 100px;
    background-color: var(--background-color-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.social-media {
    font-size: 24px;
}

i {
    color: var(--font-color-social-media);
    padding: 0 12px;
}

.copyright {
    opacity: 0.502;
    font-size: 12px;
    font-weight: 400;
    padding: 14px;
}
